{% extends 'base.html.twig' %}

{% block title %}Hello OfferController!
{% endblock %}

{% block body %}
	<h1 class="title">OFFRE</h1>
	<div class="box">
		{% for singleOffer in offer %}
			<div class="offer">
				<h2>{{ singleOffer.name }}</h2>
				<p>{{ singleOffer.description }}</p>
				<p>Prix :
					{{ singleOffer.price }}
					€</p>
				<a href="{{ path('app_reservation_new', {'offerId': singleOffer.id}) }}" class="btn btn-primary">Réserver</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
