{% extends 'base.html.twig' %}

{% block title %}Edit Reservation
{% endblock %}

{% block body %}
	<h1 class="title">MODIFICATION DE MA RÉSERVATION</h1>

	{{ include('reservation/_form.html.twig', {'button_label': 'MODIFIER'}) }}

	<a href="{{ path('app_reservation_index') }}">Retour au Panier</a>

{% endblock %}
