{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}
	<section>
		<article>
			<h1 class="title">RÉSERVER</h1>
			{{ include('reservation/_form.html.twig') }}
		</article>
	</section>
{% endblock %}
