<footer>
	<div class="container">

		<div class="column">
			<h3>Pages Légales
			</h3>
			<div>
				<a href="{{path('app_mentions')}}">MENTIONS LÉGALES</a>
			</div>
			<div>
				<a href="{{path('app_rgpd')}}">POLITIQUE DE CONFIDENTIALITÉ</a>
			</div>
			<div>
				<a href="{{path('app_cgu')}}">CONDTIONS GÉNÉRALES D'UTILISATION</a>
			</div>
		</div>
		<div class="column">
			<h3>Horaires d'ouverture
			</h3>
			<div>LUNDI AU VENDREDI
			</div>
			<div>9h00 - 18h00</div>
		</div>
		<div class="column">
			<h3>Contact
			</h3>
			<button class="book" onclick="window.location.href='tel:+33123456789'">TÉLÉPHONE</button>
			<button class="book" onclick="window.location.href='mailto:contact@jeuxstudilympiques.store'">E-MAIL</button>
		</div>
	</div>
</div>
<div class="copyright">
	Copyright © 2024 Jeux Studilympiques. Website by Coraline
</div></footer>
