{% extends 'base.html.twig' %}

{% block title %}Confirmation
{% endblock %}

{% block body %}
	<h2>Offres</h2>
	<ul>
		{% for offerDetailsPerReservation in offerDetails %}
			{% for offerDetail in offerDetailsPerReservation %}
				<li>
					<strong>Offre :</strong>
					{{ offerDetail.offerName }}
					<br>
					<strong>Quantité :</strong>
					{{ offerDetail.numberOfTickets }}
				</li>
			{% endfor %}
		{% endfor %}
	</ul>

	<a href="{{ url('app_confirmation_ticket') }}">Télécharger votre billet</a>
{% endblock %}
