.black-card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   border-radius: 15px;
   height: 270px;
   text-align: center;
   position: relative;
}

.offer-card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   border-radius: 15px;
   height: 500px;
   text-align: center;
   position: relative;
}

.black-card:hover::after{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   transition: 0.3s;
   border-radius: 17px;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: 1;
}

.reserve-button {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   font-size: 1.2em; /* Ajustez la taille de la police comme vous le souhaitez */
   padding: 10px 15px; /* Ajustez le remplissage pour changer la taille du bouton */
   width: auto; /* Ajustez la largeur comme vous le souhaitez */
}


.card:hover .reserve-button {
   display: block;
}

.no-effect:hover{
   box-shadow: none;
}

//for the phone
@media (max-width: 767px) {
   .offer-card{
       height: 550px;
   } 
}