.cart-form input[type="number"], .cart-form input[type="submit"] {
    display: inline-block;
    vertical-align: middle;
}


.forminput.cart-pass[type="number"]{
    padding: 5px;
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-shopping{
    padding:30px;
}
