<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('build/images/logo.png') }}"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		{{ encore_entry_script_tags('app') }}
		{{ encore_entry_link_tags('app') }}
	</head>
	<body>
		{% include "include/_navbar.html.twig" %}
		{% block body %}{% endblock %}
		{{render (controller('App\\Controller\\RGPDController::footer'))}}
	</body>
</html>
