{% extends 'base.html.twig' %}

{% block title %}Paiement
{% endblock %}

{% block body %}
	<h1 class="title">PAIEMENT</h1>

	{{ include('payment/_form.html.twig') }}

	<a href="{{ path('app_reservation_index') }}" class="cart-shopping">Retour au Panier</a>
{% endblock %}
