{% extends 'base.html.twig' %}

{% block title %}Paiement
{% endblock %}

{% block body %}
	<section>
		<article class="payment-end">
			<h1 class="title">PAIEMENT</h1>

			{{ include('payment/_form.html.twig') }}

			<a href="{{ path('app_reservation_index') }}" class="payment-shopping">Retour au Panier</a>
		</article>
	</section>
{% endblock %}
